@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');
body {
  font-family: 'Montserrat', sans-serif;
  padding: 24px;
  background-color: #ffffff;
}

.controls {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms ease;
}

#datetime-picker:hover {
  border-color: #000;
}

button[data-start] {
  height: 40px;
  width: 78px;
  padding: 0 16px;
  font-size: 16px;
  background-color: #efefef;
  color: #000;
  border: 1px solid #808080;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

button[data-start]:hover:not(:disabled) {
  background-color: #e2e2e2;
}

button[data-start]:disabled {
  background-color: #fafafa;
  color: #989898;
  border-color: #dcdcdc;
  cursor: not-allowed;
}

.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  color: #2e2f42;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  color: #2e2f42;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 360px;
  margin-top: 24px;
}

.form > label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.form input[type='number'] {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: border-color 250ms ease;
}

.form input[type='number']:hover {
  border-color: #000;
}

.form input[type='number']:focus {
  border-color: #4e75ff;
  outline: none;
}

.form fieldset {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 48px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 14px 28px 8px;
}

.form fieldset:hover,
.form fieldset:focus-within {
  border-color: #000;
}

.form fieldset legend {
  padding: 0 4px;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.form fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.form fieldset input[type='radio'] {
  width: 20px;
  height: 20px;
  margin: 0;
}

.form button[type='submit'] {
  width: 100%;
  height: 40px;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #efefef;
  border: 1px solid #808080;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
}

.form button[type='submit']:hover {
  background-color: #e2e2e2;
}
